<div class="full-height">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="assets/projects/website/mega.png" alt="mega-site" class="w-100">
            <img src="assets/DESIGN_DRIVE.png" alt="design-drive" class="mt-2 w-50 disp-md">
            <img src="assets/projects/pen_horizontal.png" alt="pen" class="pen-x-rotate">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/website/surfmoon.png" alt="surfmoon-site" class="w-100">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/website/littleDoge.png" alt="little-doge-site" class="w-100">
            <img src="assets/projects/website/zooshi.png" alt="zooshi" class="w-100">
            <img src="assets/projects/website/cocktail.png" alt="cocktail-main" class="w-100">
        </div>
    </div>
</div>