<div class="project-logo">
    <div class="row full-height">
        <div class="col-12 col-md-5 p-3 content">
            <div class="text-content">
                <h3> LOGO DESIGNS </h3>
                <p> MODERN LOGO DESIGNS <br> FOR THE CLIENTS WORLDWIDE </p>
                <a type="button" class="btn arrow-text-btn">
                    EXPLORE MORE
                </a>
            </div>
            <div class="align-items-end d-flex m-3">
                <button type="button" class="btn btn-light">
                    Get a Quote
                </button>
            </div>
        </div>
        <div class="col-0 col-md-7 pen-col">
            <div class="flex-justify-end">
                <img src="../../../assets/pen.png" alt="Pen" class="pen-image">
            </div>
        </div>
    </div>
</div>