// Font Sizes
$text-regular: 1rem;
$text-medium: 1.25rem;
$text-heading: 1.5rem;
$text-large: 2rem;

// Font Weights
$fw-regular: 400;
$fw-bold: 700;

// Branding Colors
$bg-color: black;
$text-color: white;