<div class="full-height">
    <div class="row">
        <div class="col-12 col-md-8">
            <img src="assets/projects/products/beer_bottle.png" alt="beer-bottle" class="pe-1 w-50">
            <img src="assets/projects/products/food_container.png" alt="food-container" class="ps-1 w-50">
            <img src="assets/projects/products/van.png" alt="van" class="pt-2 w-100">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/products/whisky_bottle.png" alt="whisky-bottle" class="h-100 w-100">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-5">
            <img src="assets/projects/products/nuveila.png" alt="nuveila" class="w-100">
        </div>
        <div class="col-12 col-md-7">
            <img src="assets/projects/products/can.png" alt="can" class="h-100 w-100">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-6">
            <img src="assets/projects/products/package_box.png" alt="package-box" class="h-50 w-100">
            <img src="assets/projects/products/bikaner.png" alt="bikaner" class="mt-2 h-50 w-100">
        </div>
        <div class="col-12 col-md-6">
            <img src="assets/projects/products/water_bottle.png" alt="waterbottle" class="h-50 w-100">
            <img src="assets/projects/products/watch_box.png" alt="watch-box" class="mt-2 h-50 w-100">
        </div>
    </div>
    <div class="row mt-2">
        <div class="disp-md">
            <img src="assets/DESIGN_DRIVE.png" alt="design-drive" class="mt-2 w-25">
        </div>
        <img src="assets/projects/pen_horizontal.png" alt="pen" class="pen-x-rotate">
    </div>
</div>