<div class="assets">
    <div class="align-content-around full-height p-2 row">
        <div class="col-12 row">
            <div class="flex-justify-end col-11">
                <img src="../../assets/DESIGN_DRIVE.png" alt="Desin Drive Logo">
            </div>
            <div class="flex-justify-end col-1" style="position: relative;">
                <img src="../../../assets/pen.png" alt="Pen" class="pen-image">
            </div>
        </div>
        <div class="align-items-center col-12 flex-justify-center pen-height">
            <div >
                <div class="flex-justify-center">
                    <img src="../../assets/assets_setting.svg" alt="Setting Logo">
                </div>
                <div class="content">
                    <p>
                        <strong>WE ARE BUILDING ASSETS</strong>
                    </p>
                    <p class="light"> GRAPHIC DESIGN RESOURCES </p>
                    <p class="light"> COMING SOON </p>
                </div>
            </div>
        </div>
    </div>
</div>