<div id="scrollhoriz" style="overflow-x: scroll;" class="d-flex">
    <section id="home" class="full-height full-width">
        <dd-home-page></dd-home-page>
    </section>
    <section id="projects">
        <dd-project-base-page></dd-project-base-page>
    </section>
    <section id="about" class="full-height full-width">
        <dd-about-page></dd-about-page>
    </section>
    <section id="contact" *ngIf="false" class="full-height full-width">
        <dd-contact-page></dd-contact-page>
    </section>
    <section id="assets" class="full-height full-width">
        <dd-assets-page></dd-assets-page>
    </section>
</div>