<div class="full-height">
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/aberdeen.png" alt="aberdeen" class="w-100">
            <img src="assets/projects/logos/feeling_private.png" alt="feeling-private" class="mt-4 w-100">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/mammoth.png" alt="mammoth" class="w-100">
            <img src="assets/projects/logos/uzuri.png" alt="uzuri" class="mt-4 w-100">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/grozap.png" alt="grozap" class="w-100">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-5">
            <img src="assets/projects/logos/nurten.png" alt="nurten" class="w-100">
        </div>
        <div class="col-12 col-md-7">
            <img src="assets/projects/logos/minorities.png" alt="minorities" class="mt-4 ps-3 h-50 w-100">
            <div class="mt-3">
                <img src="assets/projects/logos/roorides.png" alt="roorides" class="px-3 mt-2 w-50">
                <img src="assets/projects/logos/seabasket.png" alt="seabasket" class="w-50">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/surfers.png" alt="surfers" class="w-100">
            <img src="assets/projects/logos/medina_timer.png" alt="medina-timer" class="mt-2 w-100">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/renewable.png" alt="renewable" class="h-50 w-100">
            <img src="assets/projects/logos/dental_desk.png" alt="dental-desk" class="h-50 pt-2 w-100">
        </div>
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/care_at_home.png" alt="care-at-home" class="w-100">
            <img src="assets/projects/logos/black_stallion.png" alt="black-stallion" class="mt-2 w-100">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-md-4">
            <img src="assets/projects/logos/usaver.png" alt="usaver" class="w-100">
            <img src="assets/projects/logos/tie_store.png" alt="tie-store" class="mt-2 w-100">
        </div>
        <div class="col-12 col-md-3">
            <img src="assets/projects/logos/panama_weed.png" alt="panama-weed" class="w-100">
            <img src="assets/projects/logos/favuke.png" alt="favuke" class="mt-2 w-100">
        </div>
        <div class="col-12 col-md-5">
            <img src="assets/projects/logos/urban_glow.png" alt="urban-glow" class="w-100">
            <img src="assets/DESIGN_DRIVE.png" alt="design-drive" class="mt-2 w-50 disp-md">
            <div>
                <img src="assets/projects/pen_horizontal.png" alt="pen" class="pen-horizontal-right">
            </div>
        </div>
    </div>
</div>