<div class="project-product">
    <div class="row full-height">
        <div class="col-0 col-md-4 pen-col">
            <div class="flex-justify-start ps-5 full-height" style="position: relative;">
                    <img src="assets/pen.png" alt="Pen" class="pen-image">
            </div>
        </div>
        <div class="col-12 col-md-5 content align-items-center">
            <div class="text-content">
                <h3> PRODUCT </h3>
                <p> MODERN PRODUCT DESIGNS <br> FOR THE CLIENTS WORLDWIDE </p>
                <a type="button" class="btn arrow-text-btn">
                    EXPLORE MORE
                </a>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="align-items-end flex-justify-end full-height p-3">
                <button type="button" class="btn btn-light">
                    Get a Quote
                </button>
            </div>
        </div>
    </div>
</div>